<div class="card" >
  <p-table
      #dt1
     [value]="categories"

  >
      <ng-template pTemplate="caption">
          <div class="flex">
              <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clear(dt1)"></button>

              <span class="p-input-icon-left ml-auto">

                  <i class="pi pi-search"></i>
                  <input pInputText type="text"
                   placeholder="Search by name" [(ngModel)]="searchByname" />
                   <button  pButton pRipple label="Add Category"
                    icon="pi pi-plus" class="p-button-primary ml-2"
                   (click)="openNew()"></button>
                   <!-- (input)="dt1.filterGlobal($event.target.value, 'contains')" -->
              </span>

          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr >
              <th style="min-width:12rem">
                  <div class="flex align-items-center">
                   Name
                      <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                  </div>
              </th>



                <th style="min-width:18rem">
                  <div class="text-right">
                     Action
                      <p-columnFilter type="numeric" field="balance" display="menu" currency="USD">

                      </p-columnFilter>
                  </div>
              </th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body"  let-category>
   <tr *ngIf="category.nom.toUpperCase().includes(searchByname.toUpperCase())">

     <td>{{category.nom}}</td>
     <td class="text-right">
      <button  pButton pRipple label="Edit"
      icon="pi pi-user-edit" (click)="openEditDialog(category)"
      class="p-button-secondary ml-2"></button>
       <button  pButton pRipple label="Delete" (click)="delete(category.id)"
      icon="pi pi-trash"
      class="p-button-danger ml-2"></button></td>
   </tr>

      </ng-template>


  </p-table>
  <form #categoryForm="ngForm">
    <p-dialog [(visible)]="categoryDialog" [style]="{width: '450px'}"
    header="Add Category"
     [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="nom">Category :</label>
                <input type="text" pInputText id="nom"
                required [(ngModel)]="categorie.nom" name="nom"
                     />
                <small *ngIf="categoryForm.submitted && !categorie.nom"
                class="ng-dirty ng-invalid text-danger font-medium">
                Category is required.</small>
            </div>








        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times"
             class="p-button-text"
                (click)="hideDialog()"></button>
            <button  pButton pRipple label="Save"
             icon="pi pi-check" class="p-button-text"
                (click)="onSubmit(categoryForm)"></button>

        </ng-template>
        <!-- <div class="flex flex-wrap gap-2">
            <p-messages [value]="msgs" *ngIf="successMessage"></p-messages>
        </div> -->
    </p-dialog>
  </form>


    <p-dialog [(visible)]="editDialog" [style]="{width: '450px'}"
    header="Edit Category"
     [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="nom">Category :</label>
                <input type="text" pInputText id="nom"
                required [(ngModel)]="editCategory.nom" name="nom"
                     />

            </div>








        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times"
             class="p-button-text"
                (click)="hideDialog()"></button>
            <button  pButton pRipple label="Save"
             icon="pi pi-check" class="p-button-text"
                (click)="Edit()"></button>

        </ng-template>

    </p-dialog>

  </div>






































<!--


 <div class="page-content">
  <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">
    <h4>Add new user</h4>
    <hr>

 <form [formGroup]="userForm" (ngSubmit)="onSubmit()"  #f ="ngForm">
  <div class="card-body">
  <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
  <div class="custom-mt-form">
  <div class="form-group">
    <label for="userFirstName">Firstname</label>
    <div  >
      <input type="text" placeholder="Firstname"  style="width: 400px;"
      pInputText formControlName="userFirstName">
    </div>
    <div class="alert alert-danger mt-2" style="width: 400px;" *ngIf=" userForm.get('userFirstName')?.invalid
     && (userForm.get('userFirstName')?.dirty || userForm.get('userFirstName')?.touched || f.submitted )">
      <div> Firstname is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="userLastName">Lastname</label>
    <div>
      <input type="text"  placeholder="Lastname"  style="width: 400px;" id="userLastName"
      pInputText formControlName="userLastName">
    </div>
    <div class="alert alert-danger mt-2"
    style="width: 400px;" *ngIf=" userForm.get('userLastName')?.invalid
     && (userForm.get('userLastName')?.dirty || userForm.get('userLastName')?.touched || f.submitted )">
      <div> Lastname is required</div>
  </div>
  </div>
  <div class="form-group">
    <label for="userName">UserName</label>
    <div>
      <input type="text" placeholder="Username" style="width: 400px;" id="userName"
      pInputText formControlName="userName">
    </div>
    <div *ngIf="Exists">

      <span  class="text-danger mt-4">user already taken</span>
    </div>
    <div class="alert alert-danger mt-2"
    style="width: 400px;" *ngIf=" userForm.get('userName')?.invalid
     && (userForm.get('userName')?.dirty || userForm.get('userName')?.touched
     || f.submitted )">
      <div> Username is required</div>
  </div>

  </div>
  </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
  <div class="custom-mt-form">
    <div class="form-group">
      <label for="userName">UserEmail</label>
      <div>
        <input type="text" placeholder="UserEmail"  style="width: 400px;" id="userEmail"
        pInputText formControlName="userEmail">
      </div>
      <div class="alert alert-danger mt-2"
      style="width: 400px;" *ngIf=" userForm.get('userEmail')?.invalid
       && (userForm.get('userEmail')?.dirty || userForm.get('userEmail')?.touched
       || f.submitted )">
        <div> UserEmail is required</div>
    </div>
    </div>
    <div class="form-group">
      <label for="userName">UserPassword</label>
      <div>
        <input type="password"  placeholder="UserPassword"  style="width: 400px;" id="userPassword"
        pInputText formControlName="userPassword">
      </div>
      <div class="alert alert-danger mt-2"
      style="width: 400px;" *ngIf=" userForm.get('userPassword')?.invalid
       && (userForm.get('userPassword')?.dirty || userForm.get('userPassword')?.touched
       || f.submitted )">
        <div> Userpassword is required</div>
    </div>
    </div>
  <div class="form-group">
    <label for="userName">Role</label>
<div class="input-group form-group" style="width: 400px;">
  <select id="roleName"  class="custom-select" id="inputGroupSelect02"
style="height: 43px;"
 formControlName="roleName">
  <option *ngFor="let role of roles" [value]="role.roleName">{{ role.roleName }}</option>
</select>
<div class="alert alert-danger mt-2"
style="width: 400px;" *ngIf=" userForm.get('roleName')?.invalid
 && (userForm.get('roleName')?.dirty || userForm.get('roleName')?.touched
 || f.submitted )">
  <div> Rolename is required</div>
</div>
</div>
</div>
  </div>
  </div>

  </div>
  </div>
  <div class="form-group text-right custom-mt-form-group" >
    <button class="btn btn-success mr-2" style="margin-top: 20px; margin-left: 20px;"
      pButton pRipple type="submit"  >
      <div *ngIf="ActiveSpinner && !Exists" class="spinner-border text-white mr-2" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      Create user</button>


    </div>
</form>
  </div>
  </div>
  </div>
  </div>
  <br>
  <div class="card">
    <p-table [value]="users" [tableStyle]="{ 'min-width': '52rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.userName }}</td>
                <td>{{ user.userFirstName }}</td>
                <td>{{ user.userLastName }}</td>
                <td *ngFor="let role of user.role">{{ role.roleName }}</td>
                <td>
                  <button pButton pRipple type="button"
                  (click)="onDelete(user.userName)" label="Delete" class="p-button-outlined p-button-secondary"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
 -->
